.jumbo {
  height: 20em;
  background-image: url("../images/massage3.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.callToAction {
  margin: 4em;
  color: #c2cbf2;
  background: rgba(69, 93, 143, 0.653);
  text-align: center;
}

.callToAction p {
  margin: 1em;
}

.requestApp {
  margin: 0.5em;
  text-align: center;
  width: 8em;
  padding: 1em;
  background: rgba(60, 93, 164, 0.934);

  color: #c2cbf2;
}
.requestApp:hover {
  background: rgba(27, 43, 77, 0.653);
}
.buttonLink {
  color: #c2cbf2;
  text-decoration: none;
}
.homeContent {
  display: flex;
  justify-content: space-around;
  color: #585c6c;
}
.homeContent div {
  flex: 1;
  margin: 1em;
  border: 0.15em solid rgb(252, 250, 250);

  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
}
.homeContent div p {
  margin: 0.5em;
}
.icon {
  font-size: 2em;
}
.text {
  font-size: 1em;
}
.linkText {
  text-decoration: none;
  color: #585c6c;
}
.linkText:hover {
  background-color: #d9dff79e;
}
.testimonials {
  background-color: #b2d1fe;
  flex-direction: columns;
  text-align: center;
  color: #585c6c;
}

@media all and (max-width: 900px) {
  .homeContent {
    flex-direction: column;
  }
}
