.containerFull {
  width: 100%;
  background-color: #f5d6e5;
  min-height: 100vh;
  font-family: sans-serif;
}
.content {
  max-width: 1200px;
  background-color: #f7bbc0;
  margin: auto;
  min-height: 100vh;
}
